// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track {

  time { 
    display: inline-block;
    width: 10em;
  }

  .price {
    display: inline-block;
    width: 5em;
    font-weight: bold;
    text-align: right;
    margin: 0 1em;
  }

  .transfers { 
    margin: 0 2em;
  }

  table { display: none; }
}

.track.open {

  color: #363;

  table { 
    display: block;
    margin: 1em 0 2em;
  }
}

.flight {
  .price { font-weight: bold; }

  td {
    padding: 0 1em;
  }
}
